<div class="projContent" ng-class="{ 'opening': opening, 'opened': opened}">
  <div class="heading" layout="row">
    <div class="wrapper">
      <h2>Surrey City Centre</h2>
      <h3>Real Estate News</h3>
    </div>
  </div>
  <div class="wrapper">
    <div layout="row" layout-sm="column">
      <div class="projInfo" flex="50" flex-sm="100" flex-order-sm="2">    
        <div class="first">
          <md-button ng-href="http://surreycitycentre.ca/" target="_blank" class="md-raised md-primary">Visit Site</md-button>
          <h3>Role</h3>
          <p>Web Designer, Web Developer, Content Editor</p>
        </div>
        <div class="second">
          <h3>Description</h3>
          <p>When I started this project, I was still relatively new to using WordPress as a content management system. I was tasked with transferring the content from an outdated CMS over to WordPress. Because we were on a limited time, we opted to modify a template to fit the brand direction.</p>
        </div>  
        <div class="third">
          <h3>Process</h3>
          <p>We began by looking at how the original website was organized, and made a copy of all the content before creating a basic WordPress install. Then we used a the Kallyas theme as our starting template. After that it was a matter of setting up and styling the pages and navigation. This gave the website a more modern look and feel and 100% responsive.</p>
        </div>
      </div>
      <div class="imgGallery md-padding" flex="50" flex-sm="100" flex-order-sm="1">
        <img class="md-whiteframe-z1" src="../../images/websites/surrey-city-centre.jpg">
      </div>
    </div>
  </div>
</div>