<div class="projContent" ng-class="{ 'opening': opening, 'opened': opened}">
  <div class="heading" layout="row">
    <div class="wrapper">
      <h2>Harvey The Hamster</h2>
      <h3>Green Screen Video</h3>
    </div>
  </div>
  <div class="wrapper">
    <div layout="row" layout-md="column" layout-sm="column">
      <div class="projInfo" flex="40" flex-md="100" flex-sm="100" flex-order-md="2" flex-order-sm="2">    
        <div class="first">
        <h3>Summary</h3>
        <p>This individual assignment challenged my abilities as a media artist. Using the song Harvey the Wonder Hamster by Weird Al Yankovic as the base concept, I brainstormed, storyboarded, and edited until I was happy with the final outcome.</p>
        </div>
        <div class="second">
        <h3>Process</h3>
          <p>This assignment began with brainstorming and storyboarding the rough concept. This concept was submitted for feedback, which I included in the final video. I had to book rooms, rent equiment & instruments, and edit the film.</p>
        </div>
        <div class="third">
          <h3>Result</h3>
          <p>When it was finished, Harvey The Wonder Hamster was shown to the class and received a mark of 23/25.</p>
        </div>        
      </div>
      <div class="imgGallery md-padding" flex="60" flex-md="100" flex-sm="100" flex-order-md="1" flex-order-sm="1">
<!--        <img src="../../images/projects/scrollbinder/screen1.jpg">-->
        <a class="youtubeContainer md-whiteframe-z1" ob-lazytube href="http://www.youtube.com/watch?v=yQRFre6s7oc">Harvey The Hamster</a>
<!--
        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video class="embed-responsive-item" video-id="theBestVideo"></youtube-video>
        </div>
-->
      </div>
    </div>
  </div>
</div>