<div class="projContent" ng-class="{ 'opening': opening, 'opened': opened}">
  <div class="heading" layout="row">
    <div class="wrapper">
      <h2>Kinect Remote</h2>
      <h3>Gesture Video Controls</h3>
    </div>
  </div>
  <div class="wrapper">
    <div layout="row">
      <div class="projInfo" flex="40">    
        <div class="first">
<!--        <md-button ng-href="http://dcdrawk.github.io/381a1/app/#/" target="_blank" class="md-raised md-primary">Launch App</md-button><md-button ng-href="http://github.com/dcdrawk/381a1/" target="_blank" class="md-raised md-primary">View on Github</md-button>-->
        <h3>Summary</h3>
        <p>For this project, we were put into teams of two. Our goal was to take an existing electronic device and minimize it to the extreme. We chose a video remote, and we decided to replace the complex controller with simple hand gestures.</p>
        </div>
        <div class="second">
        <h3>Process</h3>
          <p>We began by drawing out our ideas and then picking the ones we felt most confident with. We thought about using colour tracking, but we decided that the Kinect was the best way to achieve our desired functionality.</p>
        </div>
        <div class="third">
          <h3>Result</h3>
          <p>The video remote was featured in a class showcase where students and faculty could try it themselves. Our project received an A grade.</p>
        </div>        
      </div>
      <div class="imgGallery md-padding" flex="60">
<!--        <img src="../../images/projects/scrollbinder/screen1.jpg">-->
        <a class="youtubeContainer md-whiteframe-z1" ob-lazytube href="http://www.youtube.com/watch?v=rB7E_XL_UZU">Keyboard cat</a>
<!--
        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video class="embed-responsive-item" video-id="theBestVideo"></youtube-video>
        </div>
-->
      </div>
    </div>
  </div>
</div>