<div class="projContent" ng-class="{ 'opening': opening, 'opened': opened}">
  <div class="heading" layout="row">
    <div class="wrapper">
      <h2>UFOria</h2>
      <h3>Motion Controlled 3D World</h3>
    </div>
  </div>
  <div class="wrapper">
    <div layout="row" layout-md="column" layout-sm="column">
      <div class="projInfo" flex="40" flex-md="100" flex-sm="100" flex-order-md="2" flex-order-sm="2">    
        <div class="first">
        <h3>Role</h3>
        <p>Game Designer, Programmer, 3D Modelling</p>
        </div>
        <div class="second">
          <h3>Summary</h3>
          <p>Using the 3D development platform Unity, my group set out to create an interactive immersive experience. Our unique world let players explore a UFO abduction using Wii motion controls.</p>
        </div>
        <div class="third">
          <h3>Process</h3>
          <p>After brainstorming our idea, we began by sketching out our framework. Once we were satisfied, we began modelling and gathering assets for our project. As we were constructing our game world, we did multiple user tests to make sure the experience was fun and bug-free.</p>
        </div>
        <div class="fourth">
          <h3>Result</h3>
          <p>Our project was featured in a class showcase at SFU's Surrey Campus and received a mark of 24/25.</p>
        </div>        
      </div>
      <div class="imgGallery" flex="60" flex-md="100" flex-sm="100" flex-order-md="1" flex-order-sm="1">
<!--        <a class="youtubeContainer md-whiteframe-z1" ob-lazytube href="https://www.youtube.com/watch?list=PLdl_zQizF3AQl3KToNLRlOMif2pBIgvhR&v=9-Yzs_rhULs">UFOria</a>-->
        <a class="youtubeContainer md-whiteframe-z1" ob-lazytube href="http://www.youtube.com/watch?v=yQRFre6s7oc">Harvey The Hamster</a>
      </div>
    </div>
  </div>
</div>